#appoinment{
    background-image: url(../../Media/appoinment.bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 4rem 0;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #1c19ab;
        opacity: .8;
        z-index: -1;
    }
    h3{
        font-size: 1.5rem;
        margin-bottom: 5rem;
        color: #fff;
    }
    .row{
        .col-lg-7{
           input, .nice-select, .date-select{
                background-color: transparent;
                color: #fff!important;
                border: 1px solid #fff;
                border-radius: 0;
                font-size: .9rem;
                font-family: "Roboto",sans-serif;
                margin-bottom: 4px;
                height: 50px;
                padding: 15px;
                outline: none;
                width: 100%;
                &::placeholder{
                    color: #fff;
                }
           }
           .nice-select{
               position: relative;
               &::after{
                border-bottom: 2px solid #999;
                border-right: 2px solid #999;
                content: '';
                display: block;
                height: 10px;
                margin-top: -4px;
                pointer-events: none;
                position: absolute;
                right: 12px;
                top: 50%;
                transform: rotate(45deg);
                transition: all .15s ease-in-out;
                width: 10px;
               }
               .list{
                 background: #fff;
                 box-shadow: 0 0 0 1px rgb(68 68 68 / 11%);
                 box-sizing: border-box;
                 pointer-events: none;
                 position: absolute;
                 top: 100%;
                 margin-top: 4px;
                 left: 0;
                 transition: all .2s cubic-bezier(.5,0,0,1.25) , opacity .15s ease-out;
                 transform: translateY(-41px);
                 border-radius: 10px;
                 z-index: 9;
                 opacity: 0;
                 li{
                    color: #000;
                    cursor: pointer;
                    font-weight: 400;
                    line-height: 40px;
                    font-size: .9rem;
                    padding: .2rem 1.5rem;
                    text-align: left;
                    transition: all .2s;
                    font-family: "Roboto",sans-serif;
                 }
               }
           }
           .show::after{
             transform: rotate(222deg);
           }
           .date-select{
              position: relative;
              &::after{
                content: '\f09a';
                display: block;
                height: 10px;
                margin-top: -4px;
                pointer-events: none;
                position: absolute;
                right: 15px;
                top: 41%;
                transition: all .15s ease-in-out;
                width: 10px;
                color: #fff;
                font-family: 'Font Awesome 6 Free';
              }
           }
        }
    }
}




  

